In [5]:
#TASK 1
#importing pandas library
import pandas as pd
#importing numpy library
import numpy as np
#Defining the Project DataFrame by using list of lists, where each inner list represents a row in the DataFrame
Project = pd.DataFrame([["A001","Project 1 ",1002000,"Finished"],["A002","Project 2",2000000,"Ongoing"],["A003","Project 3",4500000,"Finished"],["A004","Project 4",5500000,"Ongoing"],["A005","Project 5",np.nan,"Finished"],["A002","Project 6",680000,"Failed"],["A005","Project 7",400000,"Finished"],["A003","Project 8",350000,"Failed"],["A001","Project 9",np.nan,"Ongoing"],["A003","Project 10",300000,"Finished"],["A001","Project 11",2000000,"Failed"],["A004","Project 12",1000000,"Ongoing"],["A004","Project 13",3000000,"Finished"],["A005","Project 14",200000,"Finished"]],columns = ["ID","Project","Cost","Status"])
#printing and checking the DataFrame created
print(Project)

      ID     Project       Cost    Status
0   A001  Project 1   1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [6]:
#Loading Project_Dataframe into .csv file
Project.to_csv("Project_DataFrame.csv")

In [7]:
#Defining the Employee DataFrame by using list of lists, where each inner list represents a row in the DataFrame
Employee = pd.DataFrame([["A001","John Alter","M","Paris",25],["A002","Alice Luxumberg","F","London",27],["A003","Tom Sabestine","M","Berlin",29],["A004","Nina Adgra","F","Newyork",31],["A005","Amy Johny","F","Madrid",30]],columns = ["ID","Name","Gender","City","Age"])
#printing and checking the DataFrame created
print(Employee)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [8]:
#Loading Employee_Dataframe into .csv file
Employee.to_csv("Employee_DataFrame.csv")

In [9]:
#Defining the Seniority Level DataFrame by using list of lists, where each inner list represents a row in the DataFrame
Seniority_level = pd.DataFrame([["A001",2],["A002",2],["A003",3],["A004",2],["A005",3]],columns=["ID","Designation Level"])
#printing and checking the DataFrame created
print(Seniority_level)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [10]:
#Loading Seniority_level_Dataframe into .csv file
Seniority_level.to_csv("Seniority_level_DataFrame.csv")

In [11]:
#TASK 2
# Load the CSV file into a DataFrame
Project_Loaded = pd.read_csv(r"C:\Users\927534\Project_DataFrame.csv")
#printing and checking the DataFrame which has been loaded from the .csv file
print("CSV file loaded successfully!")
print(Project_Loaded)

CSV file loaded successfully!
    Unnamed: 0    ID     Project       Cost    Status
0            0  A001  Project 1   1002000.0  Finished
1            1  A002   Project 2  2000000.0   Ongoing
2            2  A003   Project 3  4500000.0  Finished
3            3  A004   Project 4  5500000.0   Ongoing
4            4  A005   Project 5        NaN  Finished
5            5  A002   Project 6   680000.0    Failed
6            6  A005   Project 7   400000.0  Finished
7            7  A003   Project 8   350000.0    Failed
8            8  A001   Project 9        NaN   Ongoing
9            9  A003  Project 10   300000.0  Finished
10          10  A001  Project 11  2000000.0    Failed
11          11  A004  Project 12  1000000.0   Ongoing
12          12  A004  Project 13  3000000.0  Finished
13          13  A005  Project 14   200000.0  Finished

In [12]:
#code for replacing the missing values by running average using for loop.
cost_series = Project_Loaded['Cost']
filled_costs = []
for i in range(len(cost_series)):
   if pd.isna(cost_series[i]):
       avg = pd.Series(filled_costs).expanding().mean().iloc[-1]
       filled_costs.append(avg)
   else:
       filled_costs.append(cost_series[i])
Project_Loaded['Cost'] = filled_costs
print(Project_Loaded)

    Unnamed: 0    ID     Project       Cost    Status
0            0  A001  Project 1   1002000.0  Finished
1            1  A002   Project 2  2000000.0   Ongoing
2            2  A003   Project 3  4500000.0  Finished
3            3  A004   Project 4  5500000.0   Ongoing
4            4  A005   Project 5  3250500.0  Finished
5            5  A002   Project 6   680000.0    Failed
6            6  A005   Project 7   400000.0  Finished
7            7  A003   Project 8   350000.0    Failed
8            8  A001   Project 9  2210312.5   Ongoing
9            9  A003  Project 10   300000.0  Finished
10          10  A001  Project 11  2000000.0    Failed
11          11  A004  Project 12  1000000.0   Ongoing
12          12  A004  Project 13  3000000.0  Finished
13          13  A005  Project 14   200000.0  Finished

In [13]:
#TASK 3
# Load the Employee CSV file into a DataFrame
Employee_Loaded = pd.read_csv(r"C:\Users\927534\Employee_DataFrame.csv")
print("CSV file loaded successfully!")
print(Employee_Loaded)

CSV file loaded successfully!
   Unnamed: 0    ID             Name Gender     City  Age
0           0  A001       John Alter      M    Paris   25
1           1  A002  Alice Luxumberg      F   London   27
2           2  A003    Tom Sabestine      M   Berlin   29
3           3  A004       Nina Adgra      F  Newyork   31
4           4  A005        Amy Johny      F   Madrid   30

In [14]:
# Split the "name" column into "First Name" and "Last Name" columns
Employee_Loaded[['First Name', 'Last Name']] = Employee_Loaded['Name'].str.split(' ', n=1, expand=True)

# Remove the original "name" column
Employee_Loaded.drop(columns=['Name'], inplace=True)

# Display the DataFrame after splitting and removing the "name" column
print("\nDataFrame after splitting and removing the 'name' column:")
print(Employee_Loaded)

DataFrame after splitting and removing the 'name' column:
   Unnamed: 0    ID Gender     City  Age First Name  Last Name
0           0  A001      M    Paris   25       John      Alter
1           1  A002      F   London   27      Alice  Luxumberg
2           2  A003      M   Berlin   29        Tom  Sabestine
3           3  A004      F  Newyork   31       Nina      Adgra
4           4  A005      F   Madrid   30        Amy      Johny

In [24]:
#TASK 4
# Load Seniority_level_DataFrame CSV file into DataFrames as Project_DataFrame and Employee_DataFrame are already updated bases on the previous tasks.
Senioritylevel_Loaded = pd.read_csv(r"C:\Users\927534\Seniority_level_DataFrame.csv")
# Joining DataFrames using join function with suffixes
Final = Project_Loaded.join(Employee_Loaded, lsuffix='_Project', rsuffix='_Employee').join(Senioritylevel_Loaded, lsuffix='_Project', rsuffix='_Seniority')
print("Final DataFrame:")
print(Final)

Final DataFrame:
    Unnamed: 0_Project ID_Project     Project       Cost    Status  \
0                    0       A001  Project 1   1002000.0  Finished
1                    1       A002   Project 2  2000000.0   Ongoing
2                    2       A003   Project 3  4500000.0  Finished
3                    3       A004   Project 4  5500000.0   Ongoing
4                    4       A005   Project 5  3250500.0  Finished
5                    5       A002   Project 6   680000.0    Failed
6                    6       A005   Project 7   400000.0  Finished
7                    7       A003   Project 8   350000.0    Failed
8                    8       A001   Project 9  2210312.5   Ongoing
9                    9       A003  Project 10   300000.0  Finished
10                  10       A001  Project 11  2000000.0    Failed
11                  11       A004  Project 12  1000000.0   Ongoing
12                  12       A004  Project 13  3000000.0  Finished
13                  13       A005  Project 14   200000.0  Finished

    Unnamed: 0_Employee ID_Employee Gender     City   Age First Name  \
0                   0.0        A001      M    Paris  25.0       John
1                   1.0        A002      F   London  27.0      Alice
2                   2.0        A003      M   Berlin  29.0        Tom
3                   3.0        A004      F  Newyork  31.0       Nina
4                   4.0        A005      F   Madrid  30.0        Amy
5                   NaN         NaN    NaN      NaN   NaN        NaN
6                   NaN         NaN    NaN      NaN   NaN        NaN
7                   NaN         NaN    NaN      NaN   NaN        NaN
8                   NaN         NaN    NaN      NaN   NaN        NaN
9                   NaN         NaN    NaN      NaN   NaN        NaN
10                  NaN         NaN    NaN      NaN   NaN        NaN
11                  NaN         NaN    NaN      NaN   NaN        NaN
12                  NaN         NaN    NaN      NaN   NaN        NaN
13                  NaN         NaN    NaN      NaN   NaN        NaN

    Last Name  Unnamed: 0    ID  Designation Level
0       Alter         0.0  A001                2.0
1   Luxumberg         1.0  A002                2.0
2   Sabestine         2.0  A003                3.0
3       Adgra         3.0  A004                2.0
4       Johny         4.0  A005                3.0
5         NaN         NaN   NaN                NaN
6         NaN         NaN   NaN                NaN
7         NaN         NaN   NaN                NaN
8         NaN         NaN   NaN                NaN
9         NaN         NaN   NaN                NaN
10        NaN         NaN   NaN                NaN
11        NaN         NaN   NaN                NaN
12        NaN         NaN   NaN                NaN
13        NaN         NaN   NaN                NaN

In [18]:
#TASK 5
# Add a new "Bonus" column using apply function and lambda function to check the conditons to approve Bonus
Final['Bonus'] = Final.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)
print("Final DataFrame with Bonus:")
print(Final)

Final DataFrame with Bonus:
    Unnamed: 0_Project ID_Project     Project       Cost    Status  \
0                    0       A001  Project 1   1002000.0  Finished
1                    1       A002   Project 2  2000000.0   Ongoing
2                    2       A003   Project 3  4500000.0  Finished
3                    3       A004   Project 4  5500000.0   Ongoing
4                    4       A005   Project 5  3250500.0  Finished
5                    5       A002   Project 6   680000.0    Failed
6                    6       A005   Project 7   400000.0  Finished
7                    7       A003   Project 8   350000.0    Failed
8                    8       A001   Project 9  2210312.5   Ongoing
9                    9       A003  Project 10   300000.0  Finished
10                  10       A001  Project 11  2000000.0    Failed
11                  11       A004  Project 12  1000000.0   Ongoing
12                  12       A004  Project 13  3000000.0  Finished
13                  13       A005  Project 14   200000.0  Finished

    Unnamed: 0_Employee ID_Employee Gender     City   Age First Name  \
0                   0.0        A001      M    Paris  25.0       John
1                   1.0        A002      F   London  27.0      Alice
2                   2.0        A003      M   Berlin  29.0        Tom
3                   3.0        A004      F  Newyork  31.0       Nina
4                   4.0        A005      F   Madrid  30.0        Amy
5                   NaN         NaN    NaN      NaN   NaN        NaN
6                   NaN         NaN    NaN      NaN   NaN        NaN
7                   NaN         NaN    NaN      NaN   NaN        NaN
8                   NaN         NaN    NaN      NaN   NaN        NaN
9                   NaN         NaN    NaN      NaN   NaN        NaN
10                  NaN         NaN    NaN      NaN   NaN        NaN
11                  NaN         NaN    NaN      NaN   NaN        NaN
12                  NaN         NaN    NaN      NaN   NaN        NaN
13                  NaN         NaN    NaN      NaN   NaN        NaN

    Last Name  Unnamed: 0    ID  Designation Level     Bonus
0       Alter         0.0  A001                2.0   50100.0
1   Luxumberg         1.0  A002                2.0       0.0
2   Sabestine         2.0  A003                3.0  225000.0
3       Adgra         3.0  A004                2.0       0.0
4       Johny         4.0  A005                3.0  162525.0
5         NaN         NaN   NaN                NaN       0.0
6         NaN         NaN   NaN                NaN   20000.0
7         NaN         NaN   NaN                NaN       0.0
8         NaN         NaN   NaN                NaN       0.0
9         NaN         NaN   NaN                NaN   15000.0
10        NaN         NaN   NaN                NaN       0.0
11        NaN         NaN   NaN                NaN       0.0
12        NaN         NaN   NaN                NaN  150000.0
13        NaN         NaN   NaN                NaN   10000.0

In [19]:
#TASK 6
# Demote the designation level by 1 for failed projects
Final.loc[Final['Status'] == 'Failed', 'Designation Level'] -= 1

# Delete records of employees whose designation level is above 4 and saving into a new DataFrame named Final_1, so Final DataFrame can be used for further tasks.
Final_1 = Final[Final['Designation Level'] <= 4]

#printing the DataFrame post Demoting Designantion level by 1 for failed projects and also deleting records of the employees whose designantion is above 4
print("Final DataFrame after demotion and deletion:")
print(Final_1)

Final DataFrame after demotion and deletion:
   Unnamed: 0_Project ID_Project     Project       Cost    Status  \
0                   0       A001  Project 1   1002000.0  Finished
1                   1       A002   Project 2  2000000.0   Ongoing
2                   2       A003   Project 3  4500000.0  Finished
3                   3       A004   Project 4  5500000.0   Ongoing
4                   4       A005   Project 5  3250500.0  Finished

   Unnamed: 0_Employee ID_Employee Gender     City   Age First Name  \
0                  0.0        A001      M    Paris  25.0       John
1                  1.0        A002      F   London  27.0      Alice
2                  2.0        A003      M   Berlin  29.0        Tom
3                  3.0        A004      F  Newyork  31.0       Nina
4                  4.0        A005      F   Madrid  30.0        Amy

   Last Name  Unnamed: 0    ID  Designation Level     Bonus
0      Alter         0.0  A001                2.0   50100.0
1  Luxumberg         1.0  A002                2.0       0.0
2  Sabestine         2.0  A003                3.0  225000.0
3      Adgra         3.0  A004                2.0       0.0
4      Johny         4.0  A005                3.0  162525.0

In [20]:
#TASK 7
# Ensuring that the "First Name" column is of type string
Final['First Name'] = Final['First Name'].astype(str)

# Add "Mr." and "Mrs." to the "First Name" column based on gender
Final['First Name'] = Final.apply(lambda row: 'Mr.' + row['First Name'] if row['Gender'] == 'M' else ('Mrs.' + row['First Name'] if row['Gender'] == 'F' else row['First Name']), axis=1)

# Drop the "Gender" column
Final.drop(columns=['Gender'], inplace=True)

# Display the DataFrame after adding prefix and dropping the "Gender" column
print("\nDataFrame after adding prefix and dropping the 'Gender' column:")
print(Final)

DataFrame after adding prefix and dropping the 'Gender' column:
    Unnamed: 0_Project ID_Project     Project       Cost    Status  \
0                    0       A001  Project 1   1002000.0  Finished
1                    1       A002   Project 2  2000000.0   Ongoing
2                    2       A003   Project 3  4500000.0  Finished
3                    3       A004   Project 4  5500000.0   Ongoing
4                    4       A005   Project 5  3250500.0  Finished
5                    5       A002   Project 6   680000.0    Failed
6                    6       A005   Project 7   400000.0  Finished
7                    7       A003   Project 8   350000.0    Failed
8                    8       A001   Project 9  2210312.5   Ongoing
9                    9       A003  Project 10   300000.0  Finished
10                  10       A001  Project 11  2000000.0    Failed
11                  11       A004  Project 12  1000000.0   Ongoing
12                  12       A004  Project 13  3000000.0  Finished
13                  13       A005  Project 14   200000.0  Finished

    Unnamed: 0_Employee ID_Employee     City   Age First Name  Last Name  \
0                   0.0        A001    Paris  25.0    Mr.John      Alter
1                   1.0        A002   London  27.0  Mrs.Alice  Luxumberg
2                   2.0        A003   Berlin  29.0     Mr.Tom  Sabestine
3                   3.0        A004  Newyork  31.0   Mrs.Nina      Adgra
4                   4.0        A005   Madrid  30.0    Mrs.Amy      Johny
5                   NaN         NaN      NaN   NaN        nan        NaN
6                   NaN         NaN      NaN   NaN        nan        NaN
7                   NaN         NaN      NaN   NaN        nan        NaN
8                   NaN         NaN      NaN   NaN        nan        NaN
9                   NaN         NaN      NaN   NaN        nan        NaN
10                  NaN         NaN      NaN   NaN        nan        NaN
11                  NaN         NaN      NaN   NaN        nan        NaN
12                  NaN         NaN      NaN   NaN        nan        NaN
13                  NaN         NaN      NaN   NaN        nan        NaN

    Unnamed: 0    ID  Designation Level     Bonus
0          0.0  A001                2.0   50100.0
1          1.0  A002                2.0       0.0
2          2.0  A003                3.0  225000.0
3          3.0  A004                2.0       0.0
4          4.0  A005                3.0  162525.0
5          NaN   NaN                NaN       0.0
6          NaN   NaN                NaN   20000.0
7          NaN   NaN                NaN       0.0
8          NaN   NaN                NaN       0.0
9          NaN   NaN                NaN   15000.0
10         NaN   NaN                NaN       0.0
11         NaN   NaN                NaN       0.0
12         NaN   NaN                NaN  150000.0
13         NaN   NaN                NaN   10000.0

In [23]:
#TASK 8
# Fetching specific columns
age_and_designation = Final[['Age', 'Designation Level']]

# Function to promote designation level
def promote_designation(row):
    if row['Age'] > 29:
        row['Designation Level'] += 1
    return row

# Apply the function to the DataFrame
Final = Final.apply(promote_designation, axis=1)

print("Final DataFrame with updated Age and Designation Level:")
print(Final)

Final DataFrame with updated Age and Designation Level:
    Unnamed: 0_Project ID_Project     Project       Cost    Status  \
0                    0       A001  Project 1   1002000.0  Finished
1                    1       A002   Project 2  2000000.0   Ongoing
2                    2       A003   Project 3  4500000.0  Finished
3                    3       A004   Project 4  5500000.0   Ongoing
4                    4       A005   Project 5  3250500.0  Finished
5                    5       A002   Project 6   680000.0    Failed
6                    6       A005   Project 7   400000.0  Finished
7                    7       A003   Project 8   350000.0    Failed
8                    8       A001   Project 9  2210312.5   Ongoing
9                    9       A003  Project 10   300000.0  Finished
10                  10       A001  Project 11  2000000.0    Failed
11                  11       A004  Project 12  1000000.0   Ongoing
12                  12       A004  Project 13  3000000.0  Finished
13                  13       A005  Project 14   200000.0  Finished

    Unnamed: 0_Employee ID_Employee     City   Age First Name  Last Name  \
0                   0.0        A001    Paris  25.0    Mr.John      Alter
1                   1.0        A002   London  27.0  Mrs.Alice  Luxumberg
2                   2.0        A003   Berlin  29.0     Mr.Tom  Sabestine
3                   3.0        A004  Newyork  31.0   Mrs.Nina      Adgra
4                   4.0        A005   Madrid  30.0    Mrs.Amy      Johny
5                   NaN         NaN      NaN   NaN        nan        NaN
6                   NaN         NaN      NaN   NaN        nan        NaN
7                   NaN         NaN      NaN   NaN        nan        NaN
8                   NaN         NaN      NaN   NaN        nan        NaN
9                   NaN         NaN      NaN   NaN        nan        NaN
10                  NaN         NaN      NaN   NaN        nan        NaN
11                  NaN         NaN      NaN   NaN        nan        NaN
12                  NaN         NaN      NaN   NaN        nan        NaN
13                  NaN         NaN      NaN   NaN        nan        NaN

    Unnamed: 0    ID  Designation Level     Bonus
0          0.0  A001                2.0   50100.0
1          1.0  A002                2.0       0.0
2          2.0  A003                3.0  225000.0
3          3.0  A004                3.0       0.0
4          4.0  A005                4.0  162525.0
5          NaN   NaN                NaN       0.0
6          NaN   NaN                NaN   20000.0
7          NaN   NaN                NaN       0.0
8          NaN   NaN                NaN       0.0
9          NaN   NaN                NaN   15000.0
10         NaN   NaN                NaN       0.0
11         NaN   NaN                NaN       0.0
12         NaN   NaN                NaN  150000.0
13         NaN   NaN                NaN   10000.0

In [32]:
#TASK 9
# Group by ID and sum the Cost
TotalProjCost = Project_Loaded.groupby('ID')['Cost'].sum().reset_index()
#printed and checked the Total Project cost
#print(TotalProjCost) 

# Merge with employee DataFrame to get First Name
TotalProjCost = TotalProjCost.merge(Employee_Loaded, on = 'ID')

# Select relevant columns
TotalProjCost = TotalProjCost[['ID','First Name','Cost']]

# Rename columns as last column name needs to be Total Cost
TotalProjCost.columns = ['ID','First Name','Total Cost']

print("TotalProjCost DataFrame:")
print(TotalProjCost)

TotalProjCost DataFrame:
     ID First Name  Total Cost
0  A001       John   5212312.5
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy   3850500.0

In [33]:
#Task 10
#filtering the employee dataframe with the 
filtered_employee_table = Employee_Loaded[Employee_Loaded['City'].str.contains('o')]
print(filtered_employee_table)

   Unnamed: 0    ID Gender     City  Age First Name  Last Name
1           1  A002      F   London   27      Alice  Luxumberg
3           3  A004      F  Newyork   31       Nina      Adgra